<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'ClientComm' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="mixpanel_token" content="<%= ENV['MIXPANEL_TOKEN'] %>">
    <meta name="visitor_id" content="<%= visitor_id %>">
    <meta name="deploy" content="<%= deploy_prefix %>">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for(:head) if content_for?(:head) %>
  </head>
  <body<% if content_for?(:template_name) %> class="template--<%= content_for(:template_name) %>"<% end %><% if user_signed_in? %> data-user-id="<%= current_user.id %>"<% end %>>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to 'ClientComm', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <span class="navbar-text">
            <%= @clientcomm_phone_number %>
          </span>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'My Clients', clients_path, class: 'nav-link' %>
            </li>
            <% if FeatureFlag.enabled? 'templates' %>
              <li class="nav-item">
                <%= link_to 'Templates', templates_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Account settings', edit_user_registration_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%# <%= link_to "Log out #{current_user.full_name}", destroy_user_session_path, class: 'dropdown-item' %1> %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <% if notice %>
    <%= render partial: "layouts/flash", locals: {alert_type: 'alert-success', body: notice} %>
    <% end %>

    <% if alert %>
    <%= render partial: "layouts/flash", locals: {alert_type: 'alert-danger', body: alert} %>
    <% end %>

    <div class="page-wrapper">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
